.homepage-header {
    background-image: url('../assets/images/japan-header.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.homepage-planner {
    background-image: url('../assets/images/cherryBlossom.jpeg');
    background-position: center;
    background-size: cover;
    height: fit-content;
    position: relative;
}

.homepage-tours {
    background-image: url('../assets/images/japanNight.jpg');
    background-position: center;
    background-size: cover;
    height: fit-content;
    position: relative;
}
